ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 8px;
}

/* Assignment Display Cards */
.assignment-item {
  background: #f9f9f9;
  padding: 12px;
  border: 1px solid #aaa;
  margin-bottom: 15px;
  border-radius: 8px;
}

.assignment-item a {
  color: #0066cc;
  text-decoration: none;
}

.assignment-item a:hover {
  text-decoration: underline;
}
